table, th, td 
{
    text-align: center;
}
td  
{
    width: 70;
    height: 40;
}
.center
{
    width: 250px;
    height: 150px;
    position: absolute;
    left: 45%;
}
.font
{
    font-size: 1vw;
}